{% extends "weather/base.html" %}
{% block weather %}active{% endblock %}
{% block content %}

<title>Map folium</title>
  <!-- <h2>Responsive Two Column Layout</h2>
  <p>Resize the browser window to see the responsive effect (the columns will stack on top of each other instead of floating next to each other, when the screen is less than 600px wide).</p> -->

  <div class="row">
    <div class="column col_left">
      {{ my_map|safe }}
    </div>
    <div class="column col_right">
        {% for i in lights %}
          {% if i.month_int ==  today_month and i.day_int == today_day %}
            <p><b>{{ i.month_str }} {{ i.day_int }}</b></p>
            <p>Sunrise: {{ i.sunrise }}
            </p>
            <p>True Moon: {{ i.true_noon }}
            </p>
            <p>Sunset: {{ i.sunset }}
            </p>
          {% endif %}
        {% endfor %}
    </div>
  </div>

{% endblock content %}
