.map {
  position: relative;
}
  * {
  box-sizing: border-box;
}

.header {
  padding: 10px;
  text-align: left;
  background: #1B222A;
  color: white;
}
.header h1 {
  font-size: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}
.fakeimg{
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}
h4 {
  font-size: 12pt;
  font-family: Arial, sans-serif;
  color: gray;
}
input.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #50B0BC;
  box-shadow: 0 -3px #50B0BC inset;
  transition: 0.2s;
  margin-top: 15px;
} 
input.button7:hover { background: rgb(53, 167, 110); }
input.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.reseau {
  font-family: Arial;
  font-size: 16pt;
  color: #50B0BC;
}
p {
  text-align: justify;
  word-break: normal;
}

iframe {
  border:none;
}
.ol-zoom {
  top: 5em;
  left: 28.4%;
  right: auto;
  bottom: auto;
}
.ol-scale-line {
  top: auto;
  left: 29%;
  right: : auto;
  bottom: 1em;
} 
.ol-full-screen {
  top: 10em;
  left: 28.4%;
  right: auto;
  bottom: auto;
}
.layer-switcher {
    position: absolute;
    top: 5em;
    left: auto;
    /*right: 0.5em;*/
    text-align: left;
    bottom: auto;
}
.li {
  line-height: 15pt;
}

.leaflet-sidebar.left.visible {
    left: 0;
    top:4.3em;
}
.leaflet-sidebar.left {
    transition: left 0.5s, width 0.5s;
    padding-right: 0;
}
.leaflet-sidebar {
    width: 28%;
}
.leaflet-sidebar {
    position: absolute;
    height: 96%;
    box-sizing: border-box;
    z-index: 2000;
}
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.leaflet-container {
    cursor: -moz-grab;
    outline: 0;
  }

.leaflet-sidebar > .leaflet-control {
    height: 96%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: #1B222A;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    color: #808080;
}
.leaflet-popup-pane, .leaflet-control {
    cursor: auto;
}
.leaflet-control {
    float: left;
    clear: both;
}
.leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
}
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-container {}

/*leaflet bottom and left*/
.leaflet-left {
    transition: left 0.5s;
}
.leaflet-left {
    left: 30%;
}
.leaflet-bottom {
    bottom: 0;
}
.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.ol-attribution.ol-uncollapsible {
    bottom: 0.;
    right: 0;
    border-radius: 4px 0 0;
    height: 1.5em;
    line-height: 1em;
}
.ol-attribution:not(.ol-collapsed) {
    background: rgba(255,255,255,.8);
}
.ol-attribution ul {
    font-size: 9pt;
  }